
body {
    background-image: url(https://i.imgur.com/XirNxJ8.png);
    background-size: contain;
    background-attachment: fixed;
}

body {
        font-family: 'Open Sans', sans-serif;
        font-size: 11pt;
        line-height: 28px;
        color: #ffffff;
}

/* bold */
b
{
    
    color: #28a745;
}

/*italics*/
i
{
    font-style: italic;
}

/*links*/
a
{
    color: #f4651a;
}

/* paragraph and link spacing */
p, ul
{
    margin-bottom: 16px;
}


.topcontainer {
    overflow: hidden; 
    padding: 10px 0px;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 2%;
    border-bottom: 5px solid;
    border-color: rgb(252, 167, 113, 0.7);
    font-family: 'Roboto', sans-serif;
}
.search_bar{
    margin-left:0px;
    margin-right:0px;
    margin-top:15px;
    float:right;
}
.topcontainer .theseLinks{
    display:flex;
    flex-direction:row;
    margin-left: 0px;
    padding-right:10px;
    width:500px;
    
    
}

.topcontainer .theseLinks a{
        float: right;
        color: #28a745;
        text-align: center;
        padding: 14px 16px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
}



/* Add a black background color to the top navigation */
.logo {
    background-color: transparent;
    overflow: hidden;
    float:left;
}

/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    flex-direction:row;
    background-color: transparent;
    overflow: hidden;
    margin-top:15px;
    float:right;
    width:auto;
    font-family: 'Roboto', sans-serif;
}


    /* Style the links inside the navigation bar */
    .topnav a {
        float: right;
        color: #28a745;
        text-align: center;
        padding: 14px 16px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #28a745;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #f4651a;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
    }


.container {    
    
    width: auto;
    height:auto;
    background-color:transparent;     
    background-color:transparent;
    float:left;
    
}


.pagecontainer{
  
  margin-left: 9%;
  max-width: 65%;
  height:auto;
  background-color:transparent;     
  margin-bottom: 10px; 
  margin-top: 10px;   
  background-color:transparent;
  float:left;

}


  /*  .container border {
        border-radius: 25px;
        border: 2px solid #fca771;
        padding: 20px; 
        width: 200px;
        height: 150px; 
    } */
.container info {
    float:left;
    margin-left:0px;
}
.container name{
    text-align:left;
}

.picture {
    max-width: 100px; 
    margin-right:10px;
}

.listingscontainer {
    
    margin-left: 0px;
    width: 800px;
    background-color:transparent;
    
    
}


ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.square {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.square img {
    max-width: 100%;
    max-height: 100%;
}


h1
    {
        letter-spacing: 0px;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
    }
    
    h1 .features
    {
        display: block;
        margin: 5px 0 0 0;
        padding: 0 0 5px 0;
 
        font-size: 23px;
    }
    
h2
{
    letter-spacing: 0px;

    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}


h3{
   float:left;
   max-width: 200px;
   margin: 20px;

}

.viewListingPage .myLists{
/*    margin-top:125px;*/
/*    float:left;*/
/*    margin-right:2%;*/
   
    max-width: 20%;
    padding:2%;
    
}

.viewListingPage .myLists name {
        text-align:center;
    }

.viewListingPage .myLists myLinks{
    text-align:center;
    padding:10px;
}




.reviews_container{
    margin-top:100px;
    width:600px;
    margin-bottom:100px;

    
}
    .reviews_container .reviews{

        
    }
    
      .reviews rating{    }
      .reviews_container .reviews img{
            margin-top:15px;   
            height:30px;            
        }

     .reviews date{
         padding:1px;
         text-align:left;
            
        }

        .reviews title1{
            text-align:right;

        }

        .reviews content{            
            text-align:left;
        }

      
.userPage .addList {
    max-width:50%;
    float:left;
    margin-left:30%;
}
.userPage .addList h2{
     text-align:center;
}


.userPage .myLists{
    margin-left:30%;
    text-align:left;
    padding:3px;
}

.userPage .theseLists
{

}

.userPage ttitle{
    text-align:center;
} 

.userPage pagediv{
    
    height:100px;
    text-align:center;
    
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 0rem;
        -moz-column-gap: 0rem;
        column-gap: 0rem;
    }
}

.card {
/* create a custom class so you 
  do not run into specificity issues 
  against bootstraps styles
  which tends to work better than using !important 
  (future you will thank you later)*/

  background-color: rgb(8, 45, 78, 0.4);
  border-color: rgb(252, 167, 113, 0.7);
  border-radius: 5px;
  border-width: 3px;

}
  
  .card a:hover{
    color: #28a745;
    text-decoration: none;
  }




.sidebar {
  float: left;
  margin-right: 2%;
  font-family: 'Roboto', sans-serif;
}